# Ignore everything in the root
/*
/vadd/*
/addresses/log
/app/.env
/.pytest_cache/
/__pycache__/
/app/__pycache__/
/app/tests/__pycache__/
/app/main/__pycache__/
.coverage
/app/tests/load_live_db.py
/app/tests/load_test_db.py
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!app/
!Dockerfile
!docker-compose.yml
!addresses.py
!requirements.txt
!app/__init__.py
!app/config.py
!app/decorators.py
!app/extensions.py
!app/schemas/address_default.json
!app/schemas/countries.json
¡app/schemas/address_gbr.json
!README.md
!app/models.py
!app/errors.py
!app/services.py
!app/assertions.py
!app/main/__init__.py
!app/main/views.py
!app/tests/fixtures.py
!app/tests/test_api.py
!app/tests/__init__.py
!app/tests/countries_names_and_iso_codes.csv
!app/tests/load_countries_into_live.py
!app/tests/load_countries_into_test.py
!app/.env.example
!.gitignore
